<div class="row mb-3">
    <div class="col-lg-12">
        <div class="analysis-section">
            <div class="analysis-section-header d-flex justify-content-between align-items-center flex-wrap">
                <span>Extracted Files</span>
                <div class="d-flex align-items-center flex-wrap">
                    <div class="custom-control custom-switch mr-3">
                        <input type="checkbox" class="custom-control-input" id="symlinkSwitch" onchange="toggleSymlinkNodes()">
                        <label class="custom-control-label" for="symlinkSwitch" style="font-weight: normal;">
                            show symlinks
                        </label>
                    </div>
                    <div style="width: 300px;">
                        <input type="text" name="fileTreeSearch" class="form-control form-control-sm"
                               id="fileTreeSearch" placeholder="search extracted files ...">
                        <div class="invalid-feedback" id="fileTreeSearchFeedback" style="padding-left: 8px; font-size: 75%">
                            Only expanded containers can be searched!
                        </div>
                    </div>
                </div>
            </div>
            <div class="border analysis-section-body p-3">
                <div id="fileTreeAjax"></div>
                <script>const root_uid = "{{ root_uid | safe }}";</script>
                <script src="{{ url_for('static', filename='js/show_analysis_fileTreeAjax.js') }}"></script>
            </div>
        </div>
    </div>
</div>
