<table class="table table-bordered">
    <colgroup>
        <col width="100">
        <col width="700">
    </colgroup>
    <thead class="thead-light">
        <tr>
            <th id="summary-heading" colspan=2>Summary for Included Files</th>
        </tr>
    </thead>
    {% if summary_of_included_files %}
    <tr>
        <td class="table-head-light">Item count</td>
        <td>{{ summary_of_included_files | length }}
    </tr>
        {% for item in summary_of_included_files | sort %}
            <tr>
                <td>{{ item | wordwrap(width=60, break_long_words=True) }}</td>
                <td>
                    {{ summary_of_included_files[item] | nice_uid_list(root_uid=root_uid, selected_analysis=selected_analysis) | safe }}
                </td>
            </tr>
        {% endfor %}
    {% else %}
        <tr>
            <td class="table-warning" colspan=2 style="text-align: center">No summary found</td>
        </tr>
    {% endif %}
</table>
