{% extends "base.html" %}

{% set active_page = "Database" %}

{% block head %}
    <title>Dependency Graph</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/dependency_graph_style.css') }}">
   
    <script src="{{ url_for('static', filename='web_js/vis-network.min.js') }}"></script> 
{% endblock %}
    
{% block style %}
    <link href="{{ url_for('static', filename='web_css/vis-network.min.css') }}" rel="stylesheet" type="text/css" />   
{% endblock %}


{% block body %}
    <div class="modal" id="context-menu" tabindex="-1" role="dialog" aria-labelledby="contextLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="contextLabel">Additional information</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Node:
                    <p id='node-link'>No node selected.</p>
                    <br>
                    File type:
                    <p id='file-type'>No node selected.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="header mb-4" style="word-wrap: break-word">
        <h3>
            Dependency Graph for File {{ uid | replace_uid_with_hid }}
            <br>
            <span style="font-size: 15px"><strong>UID:</strong> {{ uid }}</span>
        </h3>
    </div>


    <div class="row mb-3">
        <div class="col-lg-8 col-xl-10">
            <div id="dependencyGraph" class="border rounded"></div>
        </div>
        <div class="col-lg-4 col-xl-2">
            <div class="header mb-4" style="word-wrap: break-word">
                <h4 style="text-align: center">Legend</h4>
            </div>
            <div id="dependencyGraphLegend"></div>
            <span style="font-size: 15px">
                A context menu providing additional information about the nodes is available on right click.
            </span>
        </div>
    </div>

<!--  insert js graph magic here  -->

    <script>
        var get_nodes = {{ nodes | safe }};
        var get_edges = {{ edges | safe }};
        var get_groups = {{ groups | safe }};

        var color_list = {{ color_list | safe }};
    </script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/dependency_graph.js') }}"></script>

{% endblock %}