{% extends "base.html" %}

{% set active_page = "Database" %}

{% block head %}
    <style>
        table a {
            word-break: break-all;
        }
    </style>
{% endblock %}

{% block body %}

<div class="row justify-content-center">
    <div class="col-xl-8 col-lg-12">
        {% if missing_files.count %}
            <h3 class="mt-4">{{ missing_files.count | nice_number }} Missing Files</h3>
            <h6>took {{ missing_files.duration }} to generate</h6>
            <table class="table table-bordered">
                <tr class="table-success">
                    <th style="width: 50%">Parent Object UID</th>
                    <th>Missing File UID</th>
                </tr>
                {% for parent_uid, uid_list in missing_files.tuples | sort -%}
                <tr>
                    <td>
                        <a href='/analysis/{{ parent_uid }}'>{{ parent_uid }}</a>
                    </td>
                    <td>
                        <div class="list-group" style="font-size: 15px">
                            <div data-toggle="collapse" data-target="#uid_{{ parent_uid }}" class="list-group-item list-group-item-primary d-flex justify-content-between align-items-center">
                                show files <span class="badge badge-primary badge-pill">{{ uid_list | length }}</span>
                            </div>
                            <div id="uid_{{ parent_uid }}" class="collapse">
                                {% for uid in uid_list %}
                                    <div class="list-group-item">{{ uid }}</div>
                                {% endfor %}
                            </div>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </table>
        {% else %}
            <h3 class="mt-4">No missing files found <span class="fas fa-check"></span></h3>
        {% endif %}
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-xl-8 col-lg-12">
        {% if missing_analyses.count -%}
            <h3 class="mt-4">{{ missing_analyses.count | nice_number }} Missing Analyses</h3>
            <h6>took {{ missing_analyses.duration }} to generate</h6>
            <table class="table table-bordered">
                <tr class="table-success">
                    <th style="width: 50%">Parent Firmware UID</th>
                    <th>Files Missing Analyses</th>
                </tr>
                {% for parent_uid, uid_list in missing_analyses.tuples | sort -%}
                <tr>
                    <td>
                        <a href="/analysis/{{ parent_uid }}">{{ parent_uid }}</a>
                    </td>
                    <td>
                        {{ uid_list | nice_uid_list | safe }}
                    </td>
                </tr>
                {%- endfor %}
            </table>
        {%- else %}
            <h3 class="mt-4">No missing analyses found <span class="fas fa-check"></span></h3>
        {%- endif %}
    </div>
</div>

{% endblock %}