{% extends "base.html" %}

{% set active_page = "Home" %}

{% block body %}
    <div class="row justify-content-center mt-4">

    	<div class="p-0 mt-3">
            <center>
                <img width="100%" height="auto" src="{{ url_for('static', filename='fact_logo.png') }}" style="max-width: 445px;">

                <br /><br />

                <h4 class="mb-3">General Facts</h4>
                <table class="table table-sm table-responsive" style="width: 705px;">
                    <tbody>
                        <tr>
                            <td style="text-align: left; padding:5px">firmware samples</td>
                            <td style="text-align: right; padding:5px">{{ general_stats['number_of_firmwares'] | nice_number }}</td>
                        </tr>
                        <tr>
                            <td style="text-align: left; padding:5px">firmware total size</td>
                            <td style="text-align: right; padding:5px">{{ general_stats['total_firmware_size'] | number_format }}</td>
                        </tr>
                        <tr>
                            <td style="text-align: left; padding:5px">firmware average size</td>
                            <td style="text-align: right; padding:5px">{{ general_stats['average_firmware_size'] | number_format }}</td>
                        </tr>
                        <tr>
                            <td style="text-align: left; padding:5px">unique included files</td>
                            <td style="text-align: right; padding:5px">{{ general_stats['number_of_unique_files'] | nice_number }}</td>
                        </tr>
                        <tr>
                            <td style="text-align: left; padding:5px">unique included files total size</td>
                            <td style="text-align: right; padding:5px">{{ general_stats['total_file_size'] | number_format }}</td>
                        </tr>
                        <tr>
                            <td style="text-align: left; padding:5px">unique included files average size</td>
                            <td style="text-align: right; padding:5px">{{ general_stats['average_file_size'] | number_format }}</td>
                        </tr>
                        <tr>
                            <td style="text-align: left; padding:5px">statistic generation time</td>
                            <td style="text-align: right; padding:5px">{{ general_stats['benchmark'] | nice_number }} s</td>
                        </tr>
                    </tbody>
                </table>
            </center>
    	</div>

    	{% if (latest_firmware_submissions | length) > 0 %}
            <div class="p-2 mt-3" style="width: 705px;">
                <h3>Latest Firmware Submissions</h3>
                <p class="mb-1">Showing {{ latest_firmware_submissions | length }} out of <b>{{ general_stats['number_of_firmwares'] | nice_number }}</b> firmwares in the database.</p>
                <ul class="list-group">
                    {% for firmware in latest_firmware_submissions %}
                        {{ firmware | firmware_detail_tabular_field | safe }}
                    {% endfor %}
                </ul>
            </div>
    	{% endif %}

    </div>

    <div class="row justify-content-center">
    	{% if (latest_comments | length) > 0 %}
            <div class="p-2 mt-3" style="width: 705px;">
                <h3>Latest Comments</h3>
                <ul class="list-group">
                    {% for comment in latest_comments %}
                        <li class="list-group-item p-2 clickable li-hover" onclick="location.href='/analysis/{{ comment.uid }}'">
                            <a href="/analysis/{{ comment.uid }}">
                                <div class="p-1" style="width: 100%; height: 100%; font-size: 14px;">
                                    <span style="font-family: monospace; color: #515151; font-size: 14px; word-break: break-word;">
                                        {{ comment.comment | safe }}
                                    </span>
                                    <br>
                                    <span style="font-family: 'Courier New', Courier, monospace; font-size: 10px; color: #6a737d">
                                        {{ comment.time | int | nice_unix_time }} ‒ {{ comment.author }}
                                    </span>
                                </div>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
    	{% endif %}

        {# latest_comparison_results #}
    	{% if (latest_comparison_results | length) > 0 %}
            <div class="p-2 mt-3" style="width: 705px;">
                <h3>Latest Comparisons</h3>
                <ul class="list-group">
                    {% for id, hids, submission_date in latest_comparison_results %}
                        <li class="list-group-item p-2 clickable li-hover" onclick="location.href='/compare/{{ id }}'">
                            <a href="/compare/{{ id }}" style="color: #515151;">
                                <div class="p-1" style="width: 100%; height: 100%; font-size: 14px;">
                                    {% for uid in hids %}
                                        {{ hids[uid] }}
                                        <div><span style="font-family: 'Courier New', Courier, monospace; font-size:10px">{{ uid }}</span></div>
                                    {% endfor %}
                                    <span style="font-family: 'Courier New', Courier, monospace; font-size: 10px; color: #6a737d">
                                        {{ submission_date | int | nice_unix_time }}
                                    </span>
                                </div>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
    	{% endif %}
    </div>

{% endblock %}
