{% macro stats_panel(panel_title, icon="chart-bar") %}
    <!-- stats: {{ panel_title }} -->
    <div class="col-md-12 col-lg-6 col-xl-4 mb-4 px-2">
        <div class="card p-1 bg-light rounded border-0 h-100">
            <div class="card-body bg-light">
                <h5 class="card-title mb-3"><i class="fas fa-{{ icon }}"></i> {{ panel_title }}</h5>
                {{ caller() }}
            </div>
        </div>
    </div>
{% endmacro %}

{% macro stats_table_row(label, value, percent=False, link=None, tooltip=None) %}
    <tr>
        <td style="text-align: left; padding:5px"
                {%- if link %} onclick="location.href='{{ link }}'"{% endif -%}
                {%- if tooltip %} data-toggle="tooltip" title="{{ tooltip }}"{% endif -%}
        >
            {{ label }}
        </td>
        <td style="text-align: right; padding:5px">{{ value }}{% if percent %}%{% endif %}</td>
    </tr>
{%- endmacro %}

{% macro upload_input(key, label) %}
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <label class="input-group-text upload-label" for="{{ label_target }}">
                {{ label }}
            </label>
        </div>

        {{ caller() }}
    </div>
{%- endmacro %}

{% macro upload_dropdown(input_id, options, update_device_list=False, include_filter=False) %}
    <div class="input-group-append">
        <button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="sr-only">Toggle Dropdown</span>
        </button>
        {% if include_filter %}
            <div class="dropdown-menu" style="padding-top: 0;">
            <input class="form-control-sm" type="text" placeholder="filter..."
                   onkeyup="filterFunction(this)">
        {% else %}
            <div class="dropdown-menu">
        {% endif %}
        {% for option in options | sort %}
            <a class="dropdown-item" href="#"
               onclick="updateInput('{{ input_id }}', this, {{ update_device_list | tojson }})">
                {{ option }}
            </a>
        {% endfor %}
        </div>
    </div>
{%- endmacro %}
