{% macro start_stats_panel(panel_title, icon="chart-bar") -%}
    <!-- stats: {{ panel_title }} -->
    <div class="col-sm-6 col-md-4 px-3 mb-4">
        <div class="card bg-light">
            <div class="card-header pb-0" style="background-image: none;">
                <h5 class="card-title"><i class="fas fa-{{ icon }}"></i> {{ panel_title }}</h5>
            </div>
            <div class="card-body p-0">
{%- endmacro %}

{% macro end_stats_panel(counter) -%}
            </div>
        </div>
    </div>
    {% set _ = counter.append(1) %}
    {% if counter | length % 3 == 0 %}
        <div class="clearfix"></div>
    {% endif %}
{%- endmacro %}

{% macro stats_table_row(label, value, percent=False, link=None) -%}
    <tr>
        <td style="text-align: left; padding:5px" {% if link %}onclick="location.href='{{ link }}'"{% endif %}>{{ label }}</td>
        <td style="text-align: right; padding:5px">{{ value }}{% if percent %}%{% endif %}</td>
    </tr>
{%- endmacro %}
