{% macro stats_panel(panel_title, icon="chart-bar") %}
    <!-- stats: {{ panel_title }} -->
    <div class="col-md-12 col-lg-6 col-xl-4 mb-4 px-2">
        <div class="card p-1 bg-light rounded border-0 h-100">
            <div class="card-body bg-light">
                <h5 class="card-title mb-3"><i class="fas fa-{{ icon }}"></i> {{ panel_title }}</h5>
                {{ caller() }}
            </div>
        </div>
    </div>
{% endmacro %}

{% macro stats_table_row(label, value, percent=False, link=None, tooltip=None) %}
    <tr>
        <td style="text-align: left; padding:5px"
                {%- if link %} onclick="location.href='{{ link }}'"{% endif -%}
                {%- if tooltip %} data-toggle="tooltip" title="{{ tooltip }}"{% endif -%}
        >
            {{ label }}
        </td>
        <td style="text-align: right; padding:5px">{{ value }}{% if percent %}%{% endif %}</td>
    </tr>
{%- endmacro %}

{% macro upload_input(key, label, dropdown=False) %}
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <label class="input-group-text upload-label" for="{{ key }}">
                {{ label }}
            </label>
        </div>

        {{ caller() }}

        {% if dropdown %}
            <div class="input-group-append">
                <button type="button" id="{{ key }}-button" class="btn btn-input-group-upload"
                        tabindex="-1" {% if key == "device_name" %}disabled{% endif %}>
                    <i class="fas fa-caret-down click-through"></i>
                </button>
            </div>
        {% endif %}
    </div>
{%- endmacro %}

{% macro fw_detail_tabular_field(firmware) %}
    <li class="list-group-item p-0 li-hover bg-light">
        <div class="clickable p-2" onclick="location.href='/analysis/{{ firmware.uid }}'">
            <a href='/analysis/{{ firmware.uid }}'>
                <div class="d-flex justify-content-between align-items-center hid">
                    {{ firmware.hid }}
                    <span>{{ firmware.tags | render_fw_tags(size=11) | safe }}</span>
                </div>
            </a>
            <div class="d-flex justify-content-between align-items-center">
                <span class="footnote text-muted">
                    {{ firmware.submission_date | nice_unix_time | safe }},
                    {{ firmware.size | number_format }}
                </span>
                <a href="/download/{{ firmware.uid }}" class="pull-right"><i class="fas fa-download"></i></a>
            </div>
        </div>
        {{ caller() }}
    </li>
{% endmacro %}

{% macro expandable_element(title, label, style="primary") %}
    <div class="card border-{{ style }}">
        <div class="card-header bg-{{ style }} text-white p-0" data-toggle="collapse"
             data-target="#{{ label }}" aria-expanded="false"
             style="cursor: pointer;">
            <span class="btn btn-sm btn-{{ style }} border-0 w-100 shadow-none">
                <i class="fas fa-list-ul"></i>
                {{ title }}
                <i class="fas fa-caret-down caret-icon"></i>
            </span>
        </div>
        <div id="{{ label }}" class="collapse">
            {{ caller() }}
        </div>
    </div>
{%- endmacro %}

{% macro link_to_preview(firmware, offset, plugin, root_uid) %}
    <a href="/analysis/{{ firmware.uid }}/{{ plugin }}/ro/{{ root_uid }}?load_preview={{ offset }}">
        {{ offset | hex }}
    </a>
{%- endmacro %}

{% macro render_card_list(list_) %}
    {% if list_ %}
        {{ list_ | list_group_collapse | safe }}
    {% else %}
        <div class="ml-3">&mdash;</div>
    {% endif %}
{%- endmacro %}

{% macro icon_tooltip_desk(icon, tooltip, icon_class=None) %}
    {% set icon_class = icon_class if icon_class else 'fas' %}
    <td class="align-middle text-center" style="width: 30px;" data-toggle="tooltip" data-placement="bottom" title="{{ tooltip }}">
        <i class="{{ icon_class }} fa-{{ icon }}"></i>
    </td>
{% endmacro %}

{% macro plugin_card(plugin_name, plugin_data, unique_id=None, show_collapse=True) %}
    {% set card_id = unique_id if unique_id else plugin_name %}
    <div class="card m-0 w-100">
        <div class="card-body">
            <h5 class="card-title">{{ plugin_name }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{ plugin_data.version }}</h6>

            <div class="{% if not show_collapse %}collapse.show{% endif %} m-0 p-0 mt-3" id="{{ card_id }}">
                <span class="card-text">
                    {{ plugin_data.description }}
                </span>
                <table class="table table-borderless mb-0 table-sm">
                    <tr>
                        {{ icon_tooltip_desk('project-diagram', 'Plugin dependencies') }}
                        <td>{{ render_card_list(plugin_data.dependencies) }}</td>
                    </tr>
                    <tr>
                        {{ icon_tooltip_desk('flag', 'Blacklisted file types') }}
                        <td>{{ render_card_list(plugin_data.blacklist) }}</td>
                    </tr>
                    <tr>
                        {{ icon_tooltip_desk('flag', 'Whitelisted file types', icon_class='far') }}
                        <td>{{ render_card_list(plugin_data.whitelist) }}</td>
                    </tr>
                    <tr>
                        {{ icon_tooltip_desk('clone', 'Worker count') }}
                        <td>
                            <div class="ml-3">{{ plugin_data.worker_count }}</div>
                        </td>
                    </tr>
                </table>
            </div>

            {% if show_collapse %}
                {% set button_id = "bt-" + card_id %}
                <button type="button" class="btn btn-outline-secondary btn-sm btn-block mt-3" data-toggle="collapse" data-target="#{{ card_id }}" onclick="toggleCaretIcon('{{ button_id }}')">
                    <i id="{{ button_id }}" class="fas fa-caret-down"></i>
                </button>
            {% endif %}

        </div>
    </div>
{% endmacro %}