{% extends "base.html" %}

{% import 'macros.html' as macros %}

{% set active_page = "Info" %}

{% block body %}

<div class="row justify-content-center mt-4">
    <h3 class="mb-3">Analysis Plugins</h3>
</div>
{% if plugins %}
    <div class="row justify-content-center">
        {% for plugin_name, plugin_data in plugins.items() | sort %}
            {% if plugin_name != "unpacker" %}
                <div class="col-12 col-lg-6 col-xl-4 m-0 p-2">
                    {{ macros.plugin_card(plugin_name, plugin_data) }}
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endif %}
    
<script>
    function toggleCaretIcon(button_id) {
        const element = document.getElementById(button_id);
        ["fa-caret-down", "fa-caret-up"].forEach(class_name => element.classList.toggle(class_name));
    }
</script>

{% endblock %}
