*.pyc
.idea
.cache
*~
*.log
.project
.pydevproject
src/web_interface/static/raw
src/web_interface/static/entropy
src/web_interface/static/bootstrap
src/web_interface/static/jstree*
src/web_interface/static/google_charts
src/web_interface/static/angular.min.js
src/web_interface/static/Chart.js
src/log
src/bootstrap/doc
src/bootstrap/man
src/bin
src/plugins/*/*/bin
start_faf_backend
start_fact_backend
start_faf_db
start_fact_db
start_faf_frontend
start_fact_frontend
start_all_installed_faf_components
start_all_installed_fact_components
update_statistic.cron
log/
src/test_unittests/data/arch_detection/
10k_most_common.txt
.coverage*
coverage.xml
nose2-junit.xml
*.yc
.settings/
