# General build stuff
testresources==2.0.1

# General python dependencies
docker~=7.1.0
pytest-rerunfailures~=14.0
lief~=0.16.2
psutil~=6.1.1
psycopg2-binary~=2.9.10
pylint~=3.2.7
pytest-cov~=5.0.0
pytest-timeout~=2.3.1
pytest~=8.3.4
python-tlsh==4.5.0
redis~=5.2.1
rich~=13.9.4
sqlalchemy~=2.0.37
ssdeep==3.4
xmltodict~=0.14.2

# Common code modules
git+https://github.com/fkie-cad/common_helper_files.git
git+https://github.com/fkie-cad/common_helper_filter.git
git+https://github.com/mass-project/common_helper_encoder.git

# database migration
alembic~=1.14.1
