virtualenv

# Python Libraries for python based installation
distro==1.8.0
packaging==23.0
python-magic==0.4.27
requests==2.32.2
# Needed by config.py
pydantic==2.4.0
werkzeug~=3.0.3
toml==0.10.2
# needed during installation of cve_lookup plugin
ijson==3.3.0

git+https://github.com/fkie-cad/common_helper_files.git

