werkzeug

bcrypt
email-validator
flask>=2.0
flask-paginate
flask_restx
flask-security-too
flask_sqlalchemy
itsdangerous
matplotlib
prompt_toolkit
more_itertools
python-dateutil
si-prefix
sqlalchemy
uwsgi
virtualenv

# Used for username validation by flask-security
bleach

# Used to start radare
docker-compose
