virtualenv

# Python Libraries for python based installation
distro==1.8.0
python-magic==0.4.27
requests==2.31.0
# Needed by config.py
pydantic==2.1.1
werkzeug==2.3.4
toml==0.10.2

git+https://github.com/fkie-cad/common_helper_files.git

