bcrypt==4.0.1
email-validator==1.3.0
flask-login==0.6.2
flask-paginate==2022.1.8
flask-security-too==5.0.2
flask-wtf==1.0.1
flask==2.2.2
flask_restx==1.0.3
flask_sqlalchemy==3.0.2
itsdangerous==2.1.2
matplotlib==3.5.3
more_itertools==9.0.0
prompt_toolkit==3.0.32
python-dateutil==2.8.2
si-prefix==1.2.2
uwsgi==2.0.21
virtualenv

# must be below dependent packages (flask, flask-login, flask-restx)
werkzeug==2.2.3

# Used for username validation by flask-security
bleach==5.0.1

# Used to start radare
docker-compose==1.29.2
