{% macro render_errors(field) %}
    {% if field.errors %}
        <div class="row justify-content-center">
            <div class="col-xl-8 col-lg-12">
                {% for error in field.errors %}
                    <div class="my-3 alert alert-warning alert-dismissible fade show" role="alert">
                        {{ error }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
{% endmacro %}
