{% extends "base.html" %}

{% set active_page = "Database" %}


{% block head %}
    <script src="{{ url_for('static', filename='node_modules/react/umd/react.development.js') }}"></script>
    <script src="{{ url_for('static', filename='node_modules/react-dom/umd/react-dom.development.js') }}"></script>
    <script src="{{ url_for('static', filename='node_modules/graphiql/graphiql.min.js') }}"></script>
    <script src="{{ url_for('static', filename='node_modules/@graphiql/plugin-explorer/dist/index.umd.js') }}"></script>
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='node_modules/graphiql/graphiql.min.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='node_modules/@graphiql/plugin-explorer/dist/style.css') }}"/>
{% endblock %}


{% block body %}

<div class="row justify-content-center" style="font-size: 0.9rem;">

    <div class="col-sm-12 mt-4">
        <h3 class="mb-3">Advanced Search with GraphQL</h3>

        <form class="form-horizontal" action="" method=post enctype=multipart/form-data>
            {% for table in tables %}
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="tableRadio" id="tableRadio{{ loop.index }}"
                           value="{{ table }}" {% if loop.index == 1 %}checked{% endif %}>
                    <label class="form-check-label" for="tableRadio{{ loop.index }}">
                        {{ table }}
                    </label>
                    {# help button to open help modal #}
                    <button type="button" class="btn btn-primary btn-sm" data-toggle="modal"
                            data-target="#{{ table }}Modal" style="border-radius: 50%;">
                        <i class="fas fa-question"></i>
                    </button>
                </div>
            {% endfor %}

            <label class="control-label" for="textarea">GraphQL query $where filter:</label><br />
            <div>
                <textarea name="textarea" rows="5" style="resize: vertical; position: relative; z-index: 1;"
                          class="form-control" id="textarea" required>
                    {%- if last_query %}{{ last_query }}{% endif -%}
                </textarea>
            </div>
            <button type="submit" value=submit class="btn btn-primary" id="input_submit">
                <i class="fas fa-search"></i> Search
            </button>
        </form>

        {% for table, query in tables.items() %}
            {# help modal #}
            <div class="modal fade" id="{{ table }}Modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">{{ table }} query</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            {# ToDo: fix formatting #}
                            {{ query }}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}


        <div id="graphiql">Loading...</div>

        <script>
          const root = ReactDOM.createRoot(document.getElementById('graphiql'));
          const fetcher = GraphiQL.createFetcher({
            url: 'http://localhost:33333/v1/graphql',
            headers: { 'x-hasura-admin-secret': '{{ secret }}' },
          });
          const explorerPlugin = GraphiQLPluginExplorer.explorerPlugin();
          root.render(
            React.createElement(GraphiQL, {
              fetcher,
              defaultEditorToolsVisibility: true,
              plugins: [explorerPlugin],
            }),
          );
        </script>
    </div>
</div>

{% endblock %}
