{% extends "base.html" %}

{% set active_page = "Database" %}


{% block head %}
    <script src="{{ url_for('static', filename='node_modules/react/umd/react.development.js') }}"></script>
    <script src="{{ url_for('static', filename='node_modules/react-dom/umd/react-dom.development.js') }}"></script>
    <script src="{{ url_for('static', filename='node_modules/graphiql/graphiql.min.js') }}"></script>
    <script src="{{ url_for('static', filename='node_modules/@graphiql/plugin-explorer/dist/index.umd.js') }}"></script>
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='node_modules/graphiql/graphiql.min.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='node_modules/@graphiql/plugin-explorer/dist/style.css') }}"/>
{% endblock %}


{% block body %}

<div class="row justify-content-center" style="font-size: 0.9rem;">

    <div class="col-sm-12 mt-4">
        <h3>Database Search with GraphQL</h3>

        <div class="m-4">
            <form class="form-horizontal" action="" method=post enctype=multipart/form-data>
                <div>
                    <textarea name="textarea" rows="5" style="resize: vertical; position: relative; z-index: 1;"
                              class="form-control" id="textarea" placeholder="GraphQL query"></textarea>
                </div>
                <button type="submit" value=submit class="btn btn-primary" id="input_submit">
                    <i class="fas fa-search"></i> Search Database
                </button>
            </form>
        </div>

        <h5 class="mt-3">GraphiQL query editor:</h5>
        <div id="graphiql">Loading...</div>

        <script>
          const root = ReactDOM.createRoot(document.getElementById('graphiql'));
          const fetcher = GraphiQL.createFetcher({
            url: 'http://localhost:{{ port }}/v1/graphql',
            headers: { 'x-hasura-admin-secret': '{{ secret }}' },
          });
          const explorerPlugin = GraphiQLPluginExplorer.explorerPlugin();
          root.render(
            React.createElement(GraphiQL, {
              fetcher,
              defaultEditorToolsVisibility: true,
              plugins: [explorerPlugin],
            }),
          );
        </script>

        <a href="https://hasura.io/docs/latest/queries/postgres/filters/index/">
            Documentation on writing Hasura postgres GraphQL queries
        </a>
    </div>
</div>

{% endblock %}
