#preview-div pre .line-number {
  color:black;
  display:block;;
}

#preview-div pre .line-number {
  float:left;
  border-right:1px solid;
  text-align:right;
  margin: 0 1em 0 0;
  user-select: none;
}

#preview-div pre .line-number span {
  display:block;
  padding:0 .5em 0 1em;
}

#preview-div pre .cl {
  display:block;
  clear:both;
}
