{% extends "base.html" %}

{% set active_page = "Upload" %}

{% block body %}
    <div class="alert alert-success mt-4">
        <h3 class="alert-heading">Upload Successful</h3>
        <hr />
        The analysis results will be available <a href="/analysis/{{ uid | safe }}"><i class="fas fa-arrow-up-right-from-square"></i> here</a> when ready.
        You can monitor the analysis and unpacking progress <a href="/system_health"><i class="fas fa-arrow-up-right-from-square"></i> here</a>.
    </div>
{% endblock %}
