<span
    class="badge badge-{{ color }} mr-2"
    style="font-size: {{ size }}px; cursor: pointer;"
    {% if tooltip -%}
        data-toggle="tooltip"
        title="{{ tooltip | replace_underscore }}"
    {%- endif %}
    {% if uid -%}
        onclick="location.href='/analysis/{{ uid }}/{{ plugin }}/ro/{{ root_uid }}?load_summary=true'"
    {% elif value == "Comments" %}
        onclick="document.getElementById('comments-head').scrollIntoView({ behavior: 'smooth', block: 'start' });"
    {%- endif %}
>
    {{ value }}
</span>
