{% extends "analysis_plugins/general_information.html" %}

{% block analysis_result_details %}

{% for key in firmware.processed_analysis[selected_analysis] | sort %}
    {% if key | is_not_mandatory_analysis_entry %}
        <tr>
            <td>{{ key }}</td>
            <td><pre class="border rounded p-2 bg-light" style="white-space: pre-wrap;"><code>{{ firmware.processed_analysis[selected_analysis][key] | nice_generic | safe }}</code></pre></td>
        </tr>
    {% endif %}
{% endfor %}

{% endblock %}
